<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zhankai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18448FEA1D752EBF0004B5D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184490031D752EC00004B5D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1844900E1D752EC00004B5D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
